::-webkit-input-placeholder {
  color: black;
}
header {
  text-align: center;
}
header h1 {
  font-size: 60px;
}

input[type="text"],
select,
textarea {
  outline-style: none;
  color: black;
  background-color: rgba(243, 243, 243, 0.705);
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  float: right;
}
input[type="text"]:focus {
  outline: none;
  border-color: 5px rgb(174, 192, 247);
}
label {
  display: inline-block;
  padding: 12px 12px 12px 0;
}
button {
  border: none;
  color: purple;
  padding: 20px;
  background-color: white;
}
button:hover {
  color: white;
  background-color: purple;
}
form p {
  font-size: 23px;
  margin: 0;
  padding: 0;
}
.container {
  box-shadow: 5px 5px 10px rgb(73, 73, 73);
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 5px;
  background: linear-gradient(
    to bottom right,
    rgb(140, 0, 255),
    rgb(255, 0, 34)
  );
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  .container {
    box-shadow: none;
  }
}

@media screen and (max-width: 6000px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
